
.container-b{
    background-color: #513673;
    width:100%;
    height:100%;

}
.container-c{
    background-color: #513673;
  
}
/*celeste    background-color: #428cfb;
*/
/*morado #513673*/
/*morado suave #7157ea*/